@model ProductViewModel

@{
ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <!-- Kategori filtresi eklenebilir -->
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>

<form asp-action="EditProducts" method="post">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 100px;">Ürün Id</th>
                <th style="width: 100px;">Resim</th>
                <th>Ürün Adı</th>
                <th style="width: 100px;">Fiyat</th>
                <th>Aktif Mi?</th>
                <th style="width: 130px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
            <tr>
                <td>
                    @product.ProductId
                    <input type="hidden" asp-for="@product.ProductId">
                </td>
                <td>
                    <img src="~/img/@product.Image" class="img-fluid" alt="">
                </td>
                <td>@product.ProductName</td>
                <td>@product.Price</td>
                <td>
                    <input type="checkbox" asp-for="@product.IsActive">
                </td>
                <td>
                    <a href="/Home/Edit/@product.ProductId" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/Home/Delete/@product.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>